html,
body {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.app {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  min-width: 1000px;
  width: 80%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.collection {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.collection-item {
  border: 1px solid #e0e0e0;
  list-style: none;
  padding: 15px;
}

.collection-item a {
  display: block;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: none;
  padding: 7px 30px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.btn a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btn a:focus {
  outline: none;
}

.btn-defatult {
  background-color: #9e9e9e;
}

.btn-defatult:hover {
  background-color: #797878;
}

.btn-success {
  background-color: #5bb8ad;
}

.btn-success:hover {
  background-color: #31ab9c;
}

.btn-warning {
  background-color: #d77976;
}
.btn-warning:hover {
  background-color: #bd5e5b;
}

.btn-add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 5rem;
  right: 3rem;
  border-radius: 80px;
  color: white;
  background-color: #e25141;
  padding: 0;
  font-size: 25px;
}

.btn-add:hover {
  background-color: #ca2e1d;
}

.btn-group {
  display: flex;
}

.left {
  margin-left: auto;
}
